.ghost-header {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  padding: 2rem 4rem;
  display: flex;
  justify-content: space-between;
  z-index: 10;
}

.micro-nav a {
  margin-left: 2rem;
  font-size: 1.4rem;
}

.stage {
  padding: 12rem 6vw 10rem;
}

.intro-piece {
  max-width: 720px;
  margin-bottom: 12rem;
}

.intro-title {
  font-size: 4.8rem;
  font-weight: 500;
}

.intro-text {
  font-size: 2rem;
  margin-top: 2rem;
}

.intro-sub {
  margin-top: 1rem;
  font-size: 1.4rem;
  opacity: 0.6;
}

.projects-stage {
  position: relative;
  min-height: 120vh;
}

.piece {
  position: absolute;
}

.piece-link {
  display: block;
}

.piece-image {
  margin-top: 1.5rem;
  width: 320px;
}

.piece-citi { top: 0; left: 0; }
.piece-eaad { top: 30vh; left: 40vw; }
.piece-nebvla { top: 70vh; left: 10vw; }
.piece-alien { top: 50vh; left: 65vw; }

.about-piece {
  max-width: 640px;
  margin-top: 20rem;
}

.ghost-footer {
  padding: 6rem;
  font-size: 1.4rem;
  display: flex;
  justify-content: space-between;
}

.piece-link::after {
  content: "";
  position: absolute;
  inset: -10%;
  background: linear-gradient(
    120deg,
    rgba(120, 90, 255, 0.25),
    rgba(255, 150, 200, 0.25)
  );
  opacity: 0;
  transition: opacity 0.4s ease;
  z-index: -1;
  filter: blur(50px);
}

.piece-link:hover::after {
  opacity: 1;
}


.logo img {
  position: absolute;
  width: 32px;
  height: 32px;
  border-radius: 50%;
}